header {
    margin: 100px;
    display: block;
}
ul {
    list-style: none;
}

.flex-container{
    overflow: hidden;
}   
.text_add{
    color: forestgreen;
    float:right;
}
.btn{
    color:white;
    text-align: center;
    background-color:rgba(216, 7, 17, 0.877);
    margin-left: 260px;  
    margin-right: 30px;
    /* padding: 40;   */
    margin-top: 10px;
    width: 50px;
    height: 30px;  
    border-radius: 3px;
}
.btn_del{
    color:white;
    text-align: center;
    background-color:rgba(1, 13, 24, 0.877);
    margin-left: 0px;  
    margin-right: 50px;
    /* padding: 40;   */
    margin-top: 10px;
    border-radius: 3px;
}
.suppliers{
    flex-wrap:wrap; 
    color:red;
    border: 2px solid blue;
    margin-left: 150px;  
    margin-right: 50px;
    padding: 30px; 
    background-color: rgb(164, 235, 131);
    width: 300px;
    height: 150px;
    justify-content: space-between; 
    border-radius: 25px;
  
}
.block_supplier{
    float: left;
}
a{
   
    text-decoration: none;
}

