<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="Demo Flask">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="./style.css">     -->
    <!-- url_for('static', filename='style.css') -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>

<body>
    <header>
        <h1>Create simple CRUD application on Northwind database</h1>
        <a class="text_add" " href = "{{ url_for('update') }}"> ADD NEW SUPPLIER</a>
    </header>
   
    <div   class="flex-container"  >
            {% for item in data %}
            <div class="block_supplier" >
                <ul class="suppliers" id='{{ item.supplier_id}}' onclick='Update()'>
                    <li>{{item.company_name}}</li>
                    <li>{{item.contact_name}}</li>
                    <li>{{item.contact_title}}</li>
                    <li>{{item.address}}</li>
                    <li>{{item.city}}</li>
                    <li>{{item.region}}</li>
                </ul>
                <div>
                    <a class="btn" href = "{{ url_for('update' ,supplier_id= item.supplier_id ) }}">Edit </a>
                    <a type="button" class="btn_del" href = "{{ url_for('hello' ,supplier_id=item.supplier_id ) }}&method='DELETE'">Delete </a>
                </div>
            </div>
            {% endfor %}
    </div>
</body>

</html>