<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="Demo Flask">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/style.css" rel="stylesheet">
</head>
<form method="POST" action="{{url_for('hello')}}"> 
    Company     name:
    <input type="text" name="company_name" value={{data.company_name}}>
    <br><br>
    Contact name:
    <input type="text" name="contact_name" value={{data.contact_name}}>
    <br><br>
    Contact title:
    <input type="text" name="contact_title" value={{data.contact_title}}>
    <br><br>
    Address:
    <input type="text" name="address" value={{data.address}}>
    <br><br>
    City:
    <input type="text" name="city" value={{data.city}}>
    <br><br>
    Region:   
    <input type="text" name="region" value={{data.region}}    >
    <br><br>
    <input type="submit" value="Ok">
  </form> 
<body>
  
</body>

</html>